/**
 * This style preserves the styling previous to
 * https://github.com/PolymerElements/paper-button/pull/115
 * This change can break the layout of paper-button content.
 * Remove this style to apply the change, more details at b/70528356.
 */
paper-button {
  display: inline-block;
  text-align: center;
  font-family: inherit;
}

paper-button {
  color: red;
}